@page "/mtasks/edit/{id:int}"
@using Mock2.Shared.Domain;
@using Mock2.Client.Static
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Task</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditTask" mtask="mtask" />

@code {
    [Parameter] public int id { get; set; }
    Mtask? mtask = new Mtask();

    protected override async Task OnParametersSetAsync()
    {
        mtask = await _client.GetFromJsonAsync<Mtask>($"{Endpoints.MtasksEndpoint}/{id}");
    }

    async Task EditTask()
    {
        await _client.PutAsJsonAsync($"{Endpoints.MtasksEndpoint}/{id}", mtask);
        _navManager.NavigateTo("/mtasks/");
    }
}
